<?xml version="1.0" encoding="UTF-8"?>

<!-- For assistance related to logback-translator or configuration -->
<!-- files in general, please contact the logback user mailing list -->
<!-- at http://www.qos.ch/mailman/listinfo/logback-user -->
<!-- -->
<!-- For professional support please see -->
<!-- http://www.qos.ch/shop/products/professionalSupport -->
<!-- -->
<configuration scan="true" scanPeriod="30 seconds">

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss S} %5p [%c#%M]:%L-%m%n%caller{0}</pattern>
        </encoder>
    </appender>

    <property name="log.base" value="./log/logback"/>

    <jmxConfigurator/>

    <appender name="logfile"
              class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${log.base}.log</File>
        <rollingPolicy
                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.base}.log.%d{yyyy-MM-dd}</FileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss S} %5p [%c#%M]:%L-%m%n%caller{0}</pattern>
        </encoder>
    </appender>

    <logger name="me.nabil.demo" level="debug"/>

    <root level="info">
        <appender-ref ref="stdout"/>
        <appender-ref ref="logfile"/>
    </root>


</configuration>